@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";
.navbar-brand{
    font-weight: bold;
}
nav{
    padding-left: 0.7cm;
    background-color: #f5e9dc;
}
.doc{
    font-family: monospace;
    font-size:xx-large;
    color: #011D32;
    margin-right: 4.55cm;
}
.loginbutton{
    font-family:'Source Sans Pro', sans-serif;
    color: #05386B;
    font-weight: bold;
    font-size: small;
}
.signupbtn{
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: bold;
    font-size: small;
}
.mainLoginInput::-webkit-input-placeholder { 
    font-family: FontAwesome;
    font-weight: normal;
    overflow: visible;
    vertical-align: top;
    display: inline-block !important;
    padding-left: 5px;
    padding-top: 2px;
    color: #C2CAD0;
    }
    .username{
        margin-left: 5.5cm;
        margin-right: 2.5cm;
        margin-top: 0.25cm;
        color:#011D32;

    }
    .btn-sm{
        position:relative;
        margin-top:0.15cm ;
        margin-right: 5.25cm;
    }
    li button:hover{
        background-color: #B2A391;
    }
    li a:hover{
        background-color: #B2A391;
    }
    div.input-group{
        position: absolute;
    }
    