<div class="body">
  <div class="register">
    <form ngNativeValidate #adminregister="ngForm" (ngSubmit)="adminRegister(adminregister.value)">
      <label for="register" class="container">
        <h2>Register Admin</h2>
      </label><br />
      <div class="row g-3">
        <div class="col">
          <input ngModel name="fName" type="text" class="form-control" placeholder="First name" aria-label="First name"
            required />
        </div>
        <div class="col">
          <input ngModel name="lName" type="text" class="form-control" placeholder="Last name" aria-label="Last name"
            required />
        </div>
      </div>
      <br />
      <div class="mb-3">
        <input ngModel name="email" type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter your Email"
          required />
      </div>
      <div class="mb-3">
        <input ngModel name="password" type="password" class="form-control" id="formGroupExampleInput2"
          placeholder="Choose a password" required minlength="8" />
      </div>
      <div class="mb-3">
        <input ngModel name="mNumber" type="text" class="form-control" id="formGroupExampleInput2"
          placeholder="Mobile Number" required minlength="10" maxlength="10" />
      </div>

      <div class="registerButton">
        <button type="submit" class="btn btn-outline-secondary me-2">
          Register
        </button>
        <input class="btn btn-outline-secondary" type="reset" value="Reset" />
      </div>
    </form>
    <a routerLink="/admin-login" routerLinkActive="active" ariaCurrentWhenActive="page">
      <p style="color: #011D32;margin-top: 0.5cm;" class="h6">Already an Admin? Sign in here</p>
    </a>
  </div>
</div>