.body{
    background-color: #E4E7DC;
    width: 100%;
    height: 100%;
    background-image: url("src/assets/elena-joland-uKSdkD_WOxk-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 4cm;
}
.register {
    width: 30%;
    margin: auto;
    margin-top: 50px;
    padding: 40px;
}
input::placeholder{
    font-size: smaller;
}
h2 {
    text-align: center;
    font-weight: 500;
    color:#011D32;
    margin-bottom: 30px;
}

.registerButton {
    text-align: center;
}

Button:hover {
    background-color: #B2A391 ;
}

p {
    text-align: center;
    margin: 15px 0 10px 0;
}
button{
    color:#011D32;
}
.registerButton input{
    color: #011D32;
}
.registerButton input:hover{
    background-color: #B2A391 ;
}