<br />
<div class="dropdown">
  <button class="btn btn-outline-secondary text-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter Topic</button>
  <div class="dropdown-content">
    <a (click)="getQuestions('All')">All</a>
    <a (click)="getQuestions('Electronics')">Electronics</a>
    <a (click)="getQuestions('Marketing')">Marketing</a>
    <a (click)="getQuestions('Finanace')">Finance</a>
    <a (click)="getQuestions('Others')">Others</a>
  </div>
</div>
<div class="my-3">
  <table class="table me-2 container">
    <tr>
      <th class="h5">Question</th>
      <th class="h5">Posted By</th>
      <th class="h5">Topic</th>
      <th class="h5">Get Answers</th>
    </tr>

    <tr *ngFor="let question of questions">
      <td>{{ question.question }}</td>
      <td>{{ question.user.name }}</td>
      <td>{{ question.topic }}</td>
      <td>
        <button class="btn my-2 btn-outline-secondary" id="{{ question.id }}"
          (click)="sendQuestionToGetAnswer(question.id)">
          Get Answers
        </button>
      </td>
    </tr>
  </table>
</div>
