<hr>
<div *ngIf="alreadyAnswered">
  <div class="sideNav">
    <div>
      <div *ngFor="let answer of answers">
        <div class="questions">
          <div class="h6" style="position:absolute;">Questions:</div><h6 style="margin-left:2.2cm; font-weight: lighter;">{{ answer.question.question }}</h6>
          <div>
            <p class="h6" style="position:absolute;">Answer:</p><h6 style="margin-left:2.2cm; font-weight: lighter;">{{ answer.answer }}</h6>
          </div>
          <div>
            <div>
              <span class="questionTag"><label>{{ answer.question.topic }}</label></span>
              <span class="questionTag">Asked By {{ answer.question.user.name }}</span>
              <span class="answer">Answered By {{ answer.answerUser.name }}</span>
            </div>
            <div class="accordion" id="accordionExample1">
              <div class="yourAnswer">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                      Write your answer here.
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample1">
                    <div class="accordion-body">
                      <form #addAnswer="ngForm" (ngSubmit)="giveAnswer(addAnswer.value)">
                        <div class="mb-3 padding">
                          <textarea ngModel name="answer" class="form-control" id="exampleFormControlTextarea1" rows="3"
                            placeholder="Write your answer" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-outline-secondary submit">
                          Submit answer
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="" *ngIf="firstAnswer">
  <div class="accordion" id="accordionExample1">
    <div class="yourAnswer">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            Add your answer here.
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
          data-bs-parent="#accordionExample1">
          <div class="accordion-body">
            <form #addAnswer="ngForm" (ngSubmit)="giveAnswer(addAnswer.value)">
              <div class="mb-3 padding">
                <textarea ngModel name="answer" class="form-control" id="exampleFormControlTextarea1" rows="3"
                  placeholder="Write your answer" required></textarea>
              </div>
              <button type="submit" class="btn btn-primary">
                Submit answer
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>