<div class="box"><h3 style="text-align: center" class="h4 text-dark">Welcome to Chat<br>{{ user.name }}</h3>
<button class="btn me-1 btn-success text-white icon-refresh" (click)="getMessage()">
</button>
<!-- <button class="accordion-button collapsed h5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" -->
    <!-- aria-expanded="false" aria-controls="collapseOne" (click)="getMessage()"> -->
    <!-- Join the Chat -->
<!-- </button> -->
<div class="container my-2" *ngFor="let message of messages">
    <div class="card">
        <h5 class="h6" >{{ message.fromUser }}</h5>
        <h6 class="h6" style="font-weight:lighter;">{{ message.message }}</h6>
        </div>
</div>

<div class="container d-flex flex-row">
    <input type="search" class="form-control" placeholder="Write your message" #search
        aria-label="Search" aria-describedby="addon-wrapping" />
        <button class="btn btn-success btn-sm text-white" (click)="sendMessage(search.value)">Send</button>
    </div>
</div>
