<div class="body">
  <span id="activity" class="h3">Sign in to your account<br>to manage users activity...</span>
  <div class="login">
     <form ngNativeValidate #adminlogin="ngForm" (ngSubmit)="adminLogin(adminlogin.value)">
      <div class="email">
        <label for="login" class="container h2 text-dark"><h2>Sign in as Admin</h2> <h6><br>Enter your credentials to access your account</h6></label><br/>
        <label for="exampleInputEmail1" class="form-label h6 ">Email Address</label>
        <input ngModel name="email" type="email" class="form-control" placeholder="Enter your email" id="exampleInputEmail1" aria-describedby="emailHelp" required />
        <br/>
        
        <label for="exampleInputPassword1" class="form-label h6">Password</label>
        <input ngModel name="password" type="password" class="form-control" placeholder="********" id="exampleInputPassword1" required/>
      </div>

      <div class="loginButton">
        <button type="submit" class="btn btn-outline-dark h6">Sign in</button>
      </div>
    </form>
    <li>
      <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">
        <p class="h6 text-dark">User!!! Sign in here</p>
      </a>
    </li>
  </div>
</div>
