@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');
body{
  background-image: url("src/assets/elena-joland-uKSdkD_WOxk-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 18cm;
}
h2{
  font-family: 'Courier New', Courier, monospace;
  padding-left: 3cm;
  padding-top: 6cm;
  text-align: center;
}


