.body {
    width: 100%;
    height: 100%;
    /* background-color: #011D32; */
    padding-bottom: 3cm;
    background-image: url("src/assets/elena-joland-uKSdkD_WOxk-unsplash.jpg");
    background-repeat: no-repeat;
    background-size:100%;
    background: cover 100%;
    padding-top: 30px;
}

.askQuestion {
    border-style: solid;
    border-color: black;
    width: 50%;
    margin: auto;
    margin-top: 10px;
    padding: 60px;
}
h3 {
    position: relative;
    float: left;
    font-size: 25px;
    font-weight: 600;
    color: #011D32;
    margin-bottom: .5cm;
    /* margin-top: 1cm; */
    margin-left: 4cm;
}

.padding {
    padding: 15px 0;
}

.askQuestionButton {
    text-align: center;
    padding-top: 1cm;
    margin-bottom: 1px;
}

Button:hover {
    background-color: #B2A391;
}
