<hr>
<div id="mydiv" class="body">
  <span id="activity" class="h3">Sign in to your account<br> to view your activity...</span>
  <div class="login">
    <form ngNativeValidate #userlogin="ngForm" (ngSubmit)="userLogin(userlogin.value)">
      <div class="email">
        <label for="login" class="container h3"> <h3>Welcome Back</h3> <h6><br>Enter your credentials to access your account</h6></label><br />
        <label for="exampleInputEmail1" class="form-label h6">Email address</label>
        <input ngModel name="email" type="email" class="form-control" placeholder="Enter your email" id="exampleInputEmail1" aria-describedby="emailHelp" required />
        <br/>

        <label for="exngampleInputPassword1" class="form-label h6">Password</label>
        <input ngModel name="password" type="password" class="form-control" placeholder="********" id="exampleInputPassword1" required />
      </div>

      <div class="loginButton">
        <button type="submit" class="btn btn-outline-secondary" style="color: #011D32;">Sign in</button>
      </div>
    </form>
    <p class="text-secondary h6">Don't have an account!</p>
    <a routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">
     <p id="signup" class="h6">Create an Account</p>
    </a>
  <li>
    <a routerLink="/admin-login" routerLinkActive="active" ariaCurrentWhenActive="page">
      <p id="admin" class="h6">Admin? Sign in here</p>
    </a>
  </li>
</div>
</div>

