<hr><body>
      <h5 class="h2">Welcome {{user.name}}</h5>
      <a class="btn signout btn-outline-secondary btn-sm text-dark" (click)="userLogout(user.id)">Sign out</a>
<div class="container">
  <a routerLink="/ask-question" routerLinkActive="active" ariaCurrentWhenActive="page">
    <button class="btn ml-15 btn-danger text-white h6" id="ask">Raise a Question</button>
  </a><br/>
</div>
  <app-all-questions></app-all-questions><br/>
<div class="container float-right">
  <button class="btn btn-outline" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" id="btn-chat"> Chat </button>
</div>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close" ></button>
  </div>

  <div class="offcanvas-body">
    <app-chat></app-chat>
  </div>
</div>
</body>